## **[Data Structures] Lists, Dictionaries, and Tuples**

*This notebook is based on content from CSE20 (first CS class taken at UCSC). All workshops are recorded [here](https://drive.google.com/drive/folders/1Lg1ZWQ3-NhO-qhgzrpaTK0UvLmiWGukx?usp=sharing).*

*If you have any questions, feel free to contact me via email: ayyen@ucsc.edu*

#### **Recap From Last Workshop**

In [ ]:
def recap():
  fruits = ("apple", "banana", "cherry")
  for x in fruits:
    print(x)
    if x == "banana":
      print(chr(127820))
      break
recap()

#### **Lists**

In [ ]:
#Creating lists
#list()
l = []
print(l)

shoplist = ['apple', 'carrot', 'mango', 'banana']
print(shoplist)     #Prints the list
print(type(shoplist))

In [ ]:
print(len(shoplist))    #Prints the length of the list

In [ ]:
shoplist.sort()
print(shoplist)       #Prints sorted list
print(sorted(shoplist))   #Works the same

In [ ]:
shoplist.append('kiwi')
print(shoplist)       #Prints list with kiwi added at the end

In [ ]:
shoplist.remove('carrot')   #Prints list with carrot removed
print(shoplist)

In [ ]:
shoplist.append(3)      #Prints list with number (lists can mix element types)
print(shoplist)

In [ ]:
shoplist.insert(1,'something')  #Insert something (index, value)
print(shoplist)

In [ ]:
shoplist.append('something')  #Can have duplicates
print(shoplist)

List Comprehension

In [ ]:
x = ["a", 1, 2, "list"]
# Makes a new list, l, containing only the strings in x
l = [i for i in x if type(i) == str] 
print(l)

In [ ]:
#Quick practice:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
#Create a list comprehension 'newfruitslist' that contains the values if theres is the letter 'a'
newfruitslist = [#insert code here]

print(newfruitslist)
#prints ['apple', 'banana', 'mango'] because they contain the letter 'a'

Indexing

In [ ]:
shoplist = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [ ]:
print(shoplist[0])

In [ ]:
shoplist[0]= 'pear'   #Lists are mutable!
print(shoplist)

In [ ]:
del shoplist[0]
print(shoplist)

In [ ]:
print(shoplist[-1])

In [ ]:
print(shoplist[:])
#same thing as
print(shoplist)

In [ ]:
print(shoplist[1:])

In [ ]:
print(shoplist[1:3])

In [ ]:
print(shoplist[::2])

In [ ]:
print(shoplist[-2:-5:-1]) #Remember: [start:finish:interval(optional)]

If you are trying to understand the concept of indexing, I recommend checking out this website https://towardsdatascience.com/the-basics-of-indexing-and-slicing-python-lists-2d12c90a94cf

#### **Tuples**

In [ ]:
#Creating tuples
x = ("Oxnard", 2021)
print(type(x))

y = (1,)
print(type(y))  #Tuples with a length of 1

z = (1)   #Is this a tuple?

In [ ]:
print(type(z))

In [ ]:
x.count(2021) #How many times 2021 is in the tuple

In [ ]:
x = ("a", "sequence", "of", "strings")
x[0] = "the" # Error

In [ ]:
# To make edited tuples from existing tuples you therefore slice and dice them 
print(("the",) + x[1:])

In [ ]:
#Check if a value is in the tuple (works for lists too!)
5 in (1, 2, 3, 4, 5, 6)
#5 not in (1, 2, 3, 4, 5, 6)

In [ ]:
# Another way of using tuples is swapping/ assigning variable values
(x, y) = (5, 10)
print(x, y)

In [ ]:
#IRL example
martin = ('Martin', 'Garrix', 1996, 'Keygen', 2012, 'producer', 'Amsterdam, Netherlands')
(name, surname, b_year, song, year_released, profession, born_place) = martin #Cant do opposite or else theres gonna be an error

print(name, surname)
print(name, surname, 'is a',profession ,'born in', born_place,"\nHe made his first song",song,"in",year_released)

In [ ]:
# The values in a tuple can be any legit Python object.
# So you can make complex nested (tree like objects)

martin_more_info = (("Martin","Garrix"), (14, "May", 1996), "Producer", ("Amsterdam", "Netherlands"),
                    [("Keygen", 2012),
                     ("Error 404", 2013),
                     ("Animals", 2013),
                     ("Wizard", 2013),
                     ("Helicopter", 2013),
                     ("Turn Up the Speakers", 2014),
                     ("Bouncybob", 2015),
                     ("In the Name of Love", 2016),
                     ("Scared to Be Lonely", 2017)])

name, birthday, profession, birth_place, some_songs = martin_more_info
print(some_songs)
songName, year = some_songs[4]
print(songName, year)

#### **Dictionaries**

In [ ]:
#Creating dictionaries
englishDictionary = {}
englishDictionary['one'] = 1
englishDictionary['two'] = 2

print(englishDictionary)

nameDictionary = {"Yen":"Austin", "Nguyen":"Jenisa", "Chongsathapornpong":"Jade"}

print(nameDictionary)
print(type(nameDictionary))

In [ ]:
print(nameDictionary.keys())

In [ ]:
print(nameDictionary.values())

In [ ]:
print(nameDictionary.get('Yen'))

In [ ]:
print(len(nameDictionary))

In [ ]:
#What if I want to add Emilie into the dictonary (element with same last name)
nameDictionary["Yen"] = "Emilie" 
#print(nameDictionary)

In [ ]:
nameDictionary.update({"Musk": "Elon"})
print(nameDictionary)

In [ ]:
nameDictionary.pop('Musk')
print(nameDictionary)

Dictionary Comprehension

In [ ]:
print({i : chr(65+i) for i in range(4)})

In [ ]:
list_of_email_addrs = ['idk@gmail.com','troll@gmail.com','python@gmail.com']
print({x.lower() : 1 for x in list_of_email_addrs})

In [ ]:
#IRL Example (.json object or settings file for database)
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'mydatabase',
        'USER': 'mydatabaseuser',
        'PASSWORD': 'mypassword',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    },
    'more_info': {
        'AUTHOR': 'Austin Yen',
        'LICENSE': 'ISC',
        "dependencies": {           #Nested dictionary
        "discord.js": "^11.6.3",
        "dotenv": "^8.2.0",
        "quick.db": "^7.0.0-b22"
        }
    }
}
print(DATABASES.get('more_info'))

For more examples: 
https://docs.djangoproject.com/en/1.11/ref/settings/#databases   

https://birdie0.github.io/discord-webhooks-guide/json.html

Looking up items in a Python dictionary is much faster than looking up items in a Python list.

Lookups in lists are O(n)(Linear time), lookups in dictionaries O(1)(Constant time)

https://www.jessicayung.com/python-lists-vs-dictionaries-the-space-time-tradeoff/

![ramalho_dictssetslists1.webp]()

In [25]:
import datetime
listspd = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', '{', '|', '}', '~']
#print({chr(97+i) : 1 for i in range(30)})
dictspd = {'a': 1, 'b': 1, 'c': 1, 'd': 1, 'e': 1, 'f': 1, 'g': 1, 'h': 1, 'i': 1, 'j': 1, 'k': 1, 'l': 1, 'm': 1, 'n': 1, 'o': 1, 'p': 1, 'q': 1, 'r': 1, 's': 1, 't': 1, 'u': 1, 'v': 1, 'w': 1, 'x': 1, 'y': 1, 'z': 1, '{': 1, '|': 1, '}': 1, '~': 1}
#print([chr(97+x) for x in range(30)])
searchChr = '~'

start = datetime.datetime.now()
for i in listspd:
    if searchChr in i:
      break
finish = datetime.datetime.now()
print(finish-start)

start = datetime.datetime.now()
dictspd[searchChr]
finish = datetime.datetime.now()
print(finish-start)

0:00:00.000056
0:00:00.000034

#### **Sets**

In [ ]:
#Creating a set
x = set(["Internet", "Radio", "TV"])
print(x)
y = {"Internet","Radio","TV"}
print(y)
print(type(x),type(y))

In [ ]:
y = {"Internet","Radio","Internet","TV"} #Only containst unique values
print(y)

In [ ]:
x = set([1, 2, 3, 4, 4])
y = set([2, 3, 5, 6, 7])

u = x.union(y)
print(u)

i = x.intersection(y)
print(i)

d = x.difference(y)
print(d)

Visuals on how discrete math uses sets: https://www.probabilitycourse.com/chapter1/1_2_2_set_operations.php

#### **Challenge!**

In [ ]:
# Write function to count the number of characters (character frequency) in a string and stores it in a dictionary.
# Example is shown in the slides

def char_frequency(string):
  # Write your code here

print(char_frequency("hello"))
#Should print {'h': 1, 'e': 1, 'l': 2, 'o': 1}